<div class="content-wrapper-narrow form-container">
  <div id="clearance" class="sign-in">
    <header class="form-container__header">
      <h2><%= t(".title") %></h2>
    </header>

    <%= render "sessions/form" %>
  </div>
</div>
