<section>
  <div class="content-wrapper-narrow form-container">
    <header class="form-container__header">
      <h3><%= t(".header") %></h3>
    </header>

    <%= render "cyclist_invitations/form", cyclist_invitation: @cyclist_invitation %>
  </div>
</section>
