<h2 class="section-label"><%= t(".header") %></h2>

<table>
  <thead>
    <tr>
      <th><%= t(".columns.name") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render_user_rows(admins) do |admin| %>
      <%= render("users/delete", user: admin) %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td><a href="" class="table-link">+ Add Admin</a></td>
      <td></td>
    </tr>
  </tfoot>
</table>
