<h2 class="section-label"><%= t(".header") %></h2>
<table>
  <thead>
    <tr>
      <th><%= t(".columns.name") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render_user_rows(donors) do |donor| %>
      <a href="" class="table-link">Profile</a>
      <a href="" class="table-link">Pickup History</a>
      <a href="" class="table-link table-delete">Delete</a>
    <% end %>
  </tbody>
</table>
