<section class="no-service-message">
  <div class="content-wrapper-narrow form-container">
    <header class="form-container__header">
      <h3><%= t(".supported.header") %></h3>
    </header>

    <%= render "registrations/form", registration: @registration %>
  </div>
</section>
