#{$all-buttons},
.btn {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &.decline {
    background-color: $red;

    &:hover,
    &:focus {
      background-color: shade($red, 20%);
    }
  }

  &:disabled {
    background-color: $medium-gray;
    cursor: not-allowed;

    &:hover {
      background-color: $medium-gray;
    }
  }
}
