ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0 0 $small-spacing;

  dt {
    color: $label-font-color;
    font-weight: 600;
    font-size: $label-font-size;
    letter-spacing: 0.1em;
    margin-top: $small-spacing;
    text-transform: uppercase;

    &:first-of-type {
      margin-top: 0;
    }
  }

  dd {
    margin: 0;
  }
}

.dl-group,
.label-input-group {
  padding-bottom: $base-spacing;

  &:last-child {
    padding-bottom: 0;
  }

  &:only-of-type {
    padding-bottom: $small-spacing;
  }
}
