// Typography
$base-font-family: "europa", $font-stack-helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$label-font-size: $base-font-size / 1.5;

// Line height
$base-line-height: 1.75;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$xsmall-spacing: $small-spacing / 2;
$large-spacing: $base-spacing * 2;
$xlarge-spacing: $large-spacing * 1.5;
$base-z-index: 0;
$header-height: 3.125em;

// Colors
$brand-teal: #1abc9c;
$brand-orange: #fbb040;
$blue: #1565c0;
$red: lighten(#f00000, 25%);
$dark-gray: #333;
$medium-gray: #e6e6e6;
$light-gray: #f7f7f7;
$white: #fff;
$black: #000;

// Font Colors
$base-font-color: $dark-gray;
$secondary-font-color: darken($medium-gray, 25%);
$action-color: $brand-teal;
$label-font-color: $secondary-font-color;

// Border
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
