<%= render "application/main_header" %>

<section class="hero">
  <div class="content-wrapper-narrow">
    <h2><%= t(".heading") %></h2>
    <p class="hero__subheading"><%= t(".subheading") %></p>

    <%= render "pre_registrations/form", pre_registration: @pre_registration %>
  </div>
</section>

