<%= render "partials/main_header" %>

<section class="no-service-message">
  <div class="content-wrapper-narrow content-container">
    <h3>
      Our service is available in your area!
    </h3>
    <p>
      In order to participate in our program, you'll need to create an account so we know where to come make the pickup and to let us know each week if you have veggies available to donate. Please provide us with some information below:
    </p>
    <form action="">
      <label for="">Name</label>
      <input type="text">
      <label for="">Email</label>
      <input type="text">
      <label for="">Address</label>
      <input type="text">
      <input type="submit">
    </form>
  </div>
</section>
