<div class="page-wrapper">
  <form action="" class="content-wrapper-narrow form-container">
    <header class="form-container__header">
      <h2>Donation Info</h2>
    </header>
    <div class="form-container__body">
      <div class="dl-group">
        <dl>
          <dt>Donation Status for 10/12/15</dt>
          <dd class="donation-status--confirmed">Donating</dd>
        </dl>
      </div>
      <div class="label-input-group">
        <label for="donation-confirmation">Would you like to change your donation status?</label>
        <div class="btn-container">
          <button disabled>Donating</button>
          <button class="decline">Not Donating</button>
        </div>
      </div>
      <div class="label-input-group">
        <label for="size">How big is your donation?</label>
        <input type="radio" name="size" checked> Small<br>
        <input type="radio" name="size"> Medium<br>
        <input type="radio" name="size"> Large
      </div>
      <div class="label-input-group">
        <label for="donation-description">Provide a short description of your donation:</label>
        <textarea name="donation-description" id="" cols="30" rows="5"></textarea>
      </div>
    </div>
    <footer class="form-container__footer">
      <input type="submit" value="Update">
    </footer>
  </form>
</div>
