<%= render "application/main_header" %>

<section class="email-submission-thankyou">
  <div class="content-wrapper-narrow content-container">
    <h3>
      Thanks for submitting your email!
    </h3>
    <p>
      We'll be in touch with you once we begin servicing your area. We look forward to your contributions to Fresh Food Connect!
    </p>
    <a href="#" class="btn">Sounds Great!</a>
  </div>
</section>
