<div class="content-wrapper-large content-container food-safety-policy">
  <h2>Fresh Food Connect Food Safety Policy</h2>

  <h3>Purpose:</h3>
  <p>This Section addresses the need for an established protocol for the harvesting, sorting, storing, and transport preparation of recently harvested fruits and vegetables to be donated to Fresh Food Connect, a project of Groundwork Denver, Denver Urban Gardens, and Denver Food Rescue.</p>

  <h3>Harvesting:</h3>
  <ul>
    <li>Food should be harvested immediately before it is left out for pickup, is possible.</li>
    <li>Personal Hygiene: You must wash and scrub hands with soap and water before you come into contact with donated food.</li>
    <li>If you are sick, infected with a disease, or have open wounds, you must not to come into contact with donated food. If you or volunteer meets these criteria, you must abstain for the program until you are healthy.</li>
    <li>When harvesting food, clean food with water until totally free of dirt and debris. Sort out any food based on the following criteria:</li>
    <li>Edible Food Criteria: Volunteers or workers will reject produce if there are any signs of mold, there are signs of insect or rodent activity, there are punctures or cracks that may allow pathogens to enter item (cracks in melon, onions, or cabbage heads; holes in tomatoes, bell-peppers, cucumbers, etc.), the item has visible signs of decay, the item is unusually limp (cucumbers, zucchinis) or food that is otherwise deemed unacceptable. All rejected produce will not be picked up by Fresh Food Connect.</li>
    <li>Make sure that tools you use to harvest your food (such as scissors) have been washed with soap and water and disinfected with a mixture of one teaspoon bleach per one quart of water. Spray tools with the mixture and let stand for two minutes, then rinse and dry.</li>
    <li>Food containers should be disinfected with a mixture of one teaspoon bleach per one quart of water. Spray the container with the mixture and let stand for two minutes, then rinse and dry.</li>
  </ul>

  <h3>Storing (If you are not able to harvest immediately before pick up, follow these guidelines):</h3>
  <ul>
    <li>Once food is clean and all food has been inspected to ensure it meets the Edible Food Criteria, put the food in a food safe container and place the container in a refrigerator.</li>
    <li>Food Safe Containers: Must be made of a food grade, non porous material that is easily cleanable, with smooth surfaces. Acceptable containers are plastic Lexan containers and bins. Other acceptable food storage containers are cardboard boxes that are free of debris or moisture.</li>
    <li>Refrigeration: All donated produce must be kept in a climate controlled environment before it is donated. All produce will be kept at 41 degrees Fahrenheit or less. Any available food that is kept above this temperature before donation will be discarded in the trash or compost located on site.</li>
  </ul>

  <h3>Transport Preparation</h3>
  <ul>
    <li>Food should remain in the refrigerator until immediately before your pickup time is scheduled to begin.</li>
    <li>Leave the food in its food safe container in a cool, dry, and shady place on your porch or some other location that is easy to access. The food should not be stored on the ground. Put it on a chair, a table, or some other way to keep it off the ground.</li>
  </ul>
</div>
