<%= render "application/main_header" %>

<section class="no-service-message">
  <div class="content-wrapper-narrow content-container">
    <h3>
      We're sorry, our service is not available in your area at this time.
    </h3>
    <p>
      But there's good news! If you'd like to provide us with your email, we will notify you once we begin service in your area.
    </p>
    <form action="">
      <label for="">Email</label>
      <input type="text">
      <input type="submit">
      <a href="" class="opt-out-link">No thanks</a>
    </form>
  </div>
</section>
