<%= render "application/admin_header" %>

<div class="content-wrapper-narrow content-container">
  <h3>Pickup History for <span class="supplier-name">Supplier Name</span>:</h3>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Pickup Confirmation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01/03/15</td>
        <td class="pickup-confirmation success">Picked Up</td>
      </tr>
      <tr>
        <td>01/08/15</td>
        <td class="pickup-confirmation success">Picked Up</td>
      </tr>
      <tr>
        <td>01/14/15</td>
        <td class="pickup-confirmation no-donation">No Donation</td>
      </tr>
      <tr>
        <td>01/23/15</td>
        <td class="pickup-confirmation failure">Pickup Failed</td>
      </tr>
    </tbody>
  </table>
</div>
