<%= render "application/main_header" %>

<div class="content-wrapper-large content-container">
  <h3>Pickup Checklist for <span class="pickup-checklist-date">10/03/15</span></h3>
  <table>
    <thead>
      <tr>
        <th>Supplier</th>
        <th>Address</th>
        <th>Confirm Pickup</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Supplier Name</td>
        <td>1344 Platte St.</td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>Supplier Name</td>
        <td>1234 Champa St.</td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>Supplier Name</td>
        <td>1550 Lowell St.</td>
        <td><input type="checkbox"></td>
      </tr>
    </tbody>
  </table>
  <input type="submit" value="Submit Checklist">
</div>
