<div class="content-wrapper-large content-container terms-and-conditions">
  <h2>Fresh Food Connect Terms and Conditions</h2>

  <h3>Use of Donation</h3>
  <p>By participating in Fresh Food Connect, you are donating your food to the administering organizations. The intent of the program is to provide this food very affordably to food-insecure families, which may entail a direct donation or affordable sale of the produce. However, once you make the donation to Fresh Food Connect, you relinquish your right to dictate how the donated produce is used.</p>

  <h3>Value of the Donation</h3>
  <p>Groundwork Denver, Denver Food Rescue and Denver Urban Gardens are 501c3 non-profit organizations, so your donation is considered tax-deductible. It is up to you to place a value on the donated food as per IRS regulations. </p>

  <h3>Use of Information</h3>
  <p>By participating in Fresh Food Connect, you acknowledge that you may be contacted by Groundwork Denver, Denver Food Rescue or Denver Urban Gardens specifically for the business of Fresh Food Connect, or with information about these organizations that relates gardening, food rescue, youth employment or other organizational missions.</p>

  <h3>Intellectual Property</h3>
  <p>The logos, graphics, and other information on Fresh Food Connect are the intellectual property of Groundwork Denver, Denver Food Rescue and Denver Urban Gardens.</p>
</div>
