<div class="content-wrapper-large content-container terms-and-conditions">
  <h2>Fresh Food Connect Terms of Use</h2>
  <p>Last revised on: July 13, 2016</p>

  <p>Thank you for visiting www.freshfoodconnect.org (the “Website”), which is
  owned and provided by Groundwork Denver, Inc. (GWD), Denver Food Rescue (DFR),
  and Denver Urban Gardens (DUG) (“Owners”, “us”, “our”, and “we”).  Certain
  features of the Website may be subject to additional guidelines, terms, or
  rules, which will be posted on the Website in connection with such features.
  All such additional terms, guidelines, and rules are incorporated by reference
  into this Agreement.
  These Terms of Use (“Terms”) sets forth the legally binding terms for your use
  of the Website.  By accessing, downloading, or using the Website, you are
  accepting these Terms and you represent and warrant that you have the right,
  authority, and capacity to enter into this Agreement.  If you do not agree
  with all of the provisions of this Agreement, do not access and/or use the
  Website</p>

  <h3>1.  Member Accounts</h3>
  <p>In order to use certain features of the Website, you will have to create an
  account (“Member Account”). By creating a Member Account, you are willingly
  and knowingly providing us with personally identifiable information.  You may
  never use another’s Member Account without permission. YOU ARE RESPONSIBLE FOR
  ANY AND ALL ACTIVITIES THAT ARE CONDUCTED THROUGH YOUR MEMBER ACCOUNT.</p>

  <h3>2.  Your Use of the Website</h3>
  <ul>
    <li>The purpose of the Website is to enable local and urban farmers
    (“Growers”) to connect with Owners and arrange for the pick-up of excess
    produce (“Produce”). The Website does this by providing a scheduling tool
    that Growers can use schedule a window of time for an employee or volunteer
    of Owners to pick up the Produce from the location designated by the Grower
    (“Pick Up Location”). For the safety of Growers and Owners’ volunteers or
    employees, you agree that all pick-ups shall be subject to the following
    restrictions:

      <ul class="roman">
        <li>All Produce must be left at an outside location at the Pick Up
        Location; employees or volunteers of Owners are not permitted to enter any
        residence;</li>

        <li>Employees or volunteers of Owners will not ask Growers to permit
        entrance to any residence and will provide identification upon
        request;</li>

        <li>Owners will use its best efforts to pick-up Produce during the
        designated window, but circumstances beyond its control may result in
        delays or missed pick-ups. You agree that Owners have no liability for any
        missed pick-ups.</li>
        <li>You shall provide bona fide, genuine addresses for a Pick-Up Location
        and Owners may delete your Member Account if it determines that you
        repeatedly provide false information regarding Pick Up Locations or
        Produce.</li>
      </ul>
    </li>

    <li>Subject to these Terms, you are granted a limited license to (a) use the
    Website and the functionality provided by the Website to upload, store,
    display, aggregate, organize, and share your photographs, descriptions,
    reviews, ratings, comments and other material (“Content”), (b) to copy,
    display, and use the functionality, materials, features, and services
    provided by the Website (collectively the “Materials”) solely for your
    personal, non-commercial use, and (c) share, copy and display any
    photographs, artwork, and illustrations appearing on the Owners’ Website,
    provided your use is for your personal non-commercial use and you attribute
    the work to Owners. The design and layout of the Website are specifically
    excluded from the Materials.</li>
  </ul>

  <h3>3.  Intellectual Property Ownership</h3>
  <ul>
    <li>Except for your Content, all Materials, including text, content,
    documents, names, logos, trademarks, service marks, brand identities,
    characters, trade names, graphics, designs, copyrights, trade dress, or
    other intellectual property appearing in the Website, and the organization,
    compilation, look and feel, illustrations, artwork, videos, music, software
    and other works on the Website  are owned by Owners and its affiliates or
    used with permission or under license from a third party (hereinafter
    collectively referred to as the “Licensor”) and are protected under
    copyright, trademark and other intellectual property and proprietary rights
    laws.  As between Owners and you, all right, title and interest in and to
    the Materials will at all times remain with Owners and/or its Licensor.  The
    phrase “Fresh Food Connect,” the Fresh Food Connect logo, the GWD logo, the
    DFR logo, the DUG logo  and other marks, logos and titles are registered
    and/or common law trade names, trademarks or service marks of Owners.  All
    Content is the sole responsibility of the user who provided it and is stored
    upon Owners’ servers and/or system solely at the direction of such user.
    Please see the Digital Millennium Copyright Act section below for more
    details. Owners reserve all other rights.  Except as expressly provided
    herein, nothing on the website shall be construed as conferring any license
    under Owners’ and/or its Licensor’s intellectual property rights, whether by
    estoppel, implication or otherwise.  Notwithstanding anything herein to the
    contrary, Owners may revoke any of the foregoing rights and/or your access
    to the Website, or any part thereof, including the blocking of your IP
    Address, at any time without prior notice.</li>
    <li>You retain ownership of your Content, and you hereby grant (1) Owners
    and its designees a worldwide, non-exclusive, sublicenseable (through
    multiple tiers), assignable, royalty-free, fully paid-up, perpetual,
    irrevocable right to use, reproduce, distribute (through multiple tiers),
    create derivative works of, and publicly display and perform (publicly or
    otherwise) your Content, solely in connection with the Website (including
    without limitation for purposes of promoting the Website), and (2) users of
    the Website a limited, revocable, non-exclusive, royalty-free, fully paid-up
    right to reproduce, distribute and publicly display your Content, provided
    such users give attribution and use your Content solely for their personal,
    non-commercial purposes.  For the avoidance of doubt, you agree that your
    sole compensation with regards to Owners’ use of your Content, including for
    its own promotional purposes, is your use of the Site in accordance with
    these Terms, and that you shall not be entitled to any other form of
    compensation in relation thereto.  Please note that, while you retain
    ownership of your Content, any template or layout in which you arrange or
    organize such Content through tools and features made available through the
    Website are not proprietary to you, and can be used by Owners and others for
    any purposes. You acknowledge and agree that you have no rights in any such
    template and/or layout, and such template or layout shall be the sole and
    exclusive property of Owners.  You represent, warrant and covenant that (i)
    you own or otherwise possess all necessary rights with respect to your
    Content, (ii) your Content does not and will not infringe, misappropriate,
    use or disclose without authorization, or otherwise violate any intellectual
    property or proprietary right of any third party, and are not unlawful,
    fraudulent, threatening, abusive, libelous, defamatory, obscene or otherwise
    objectionable, and (iii) you have the written consent, release, and
    permission of each and every identifiable person included in your Content to
    use the name or likeness of such persons and to authorize Owners to store,
    copy, display or otherwise distribute such person(s) name and likeness in
    connection with the Website.</li>
  </ul>

  <h3>4.  Limited Use; Restrictions on Use</h3>
  <p>No other use of the Website or Materials is authorized.  Framing of the
  Website or Materials or posting Materials on other web sites is strictly
  prohibited. The use or misuse of any Materials, except as provided in the
  Terms of Use of the Materials, is strictly prohibited.  You shall not, without
  the Owners’ express written consent: (a) distribute text or graphics to
  others, (b) copy and retransmit, disseminate, broadcast, circulate, or
  otherwise distribute the Materials on any other server, or modify or re-use
  all or part of the Materials on this system or any other system, (c) use any
  tradename, trademark, or brand name of Owners in metatags, keywords and/or
  hidden text, (d) copy, distribute, modify, transmit, perform, reuse, re-post,
  or otherwise display the Materials, in whole or in part, for public or
  commercial purposes and shall not modify, translate, alter or create any
  derivative works thereof, (e) create derivative works from the Materials or
  commercially exploit the Materials, in whole or in part, in any way, and (f)
  use the Website, the Materials, and/or any portion thereof, in any manner that
  may give a false or misleading impression, attribution or statement as to
  Owners, the Licensor, or any third party referenced therein. You shall use the
  Materials, and/or any services and products on the Website or accessible via
  the Website for lawful purposes only.  We reserve all other rights.  You do
  not acquire ownership rights to any Materials viewed or accessed, and Owners’
  posting of the Materials on the Website does not constitute a waiver of any
  right in such Materials.  You shall not alter, remove or obscure any copyright
  notice, digital watermarks, proprietary legends or any other notice included
  in the Materials.</p>

  <h3>5.  Owners Online Privacy Policy</h3>
  <p>Owners take your privacy very seriously. Owners’ Privacy Policy
  [immediately following this Terms and Conditions document] describes the
  collection, use, and sharing of certain personally identifiable information
  that may be provided in connection with the use of the Website. Please read
  and understand our Privacy Policy before accessing our using the Website.</p>

  <h3>6.  Digital Millennium Copyright Act</h3>
  <p>Owners are committed to respecting and protecting the legal rights of
  copyright owners. As such, Owners adhere to the following notice and take down
  policy, in full compliance with Section 512(c)(3) of the DMCA (17 U.S.C. § 512
  et seq.).  If you believe any of the Content infringes upon your intellectual
  property rights, please submit a notification alleging such infringement
  (hereafter a “DMCA Takedown Notice”).  To be valid, a DMCA Takedown Notice
  must (i) be provided to Owners’ designated agent, (“Copyright Agent”), as set
  forth below, and (ii) include the following:</p>

  <ul>
    <li>A physical or electronic signature of a person authorized to act on
    behalf of the owner of an exclusive right that is allegedly infringed;

    <li>Identification of the copyrighted work claimed to have been infringed,
    or, if multiple copyrighted works at a single online site are covered by a
    single notification, a representative list of such works;</li>

    <li>Identification of the material claimed to be infringing or to be the
    subject of infringing activity and that is to be removed or access disabled
    and information reasonably sufficient to permit the service provider to
    locate the material;</li>

    <li>Information reasonably sufficient to permit the service provider to
    contact you, such as an address, telephone number, and, if available, an
    electronic mail;</li>

    <li>A statement that you have a good faith belief that use of the material
    in the manner complained of is not authorized by the copyright owner, its
    agent, or the law; and</li>

    <li>A statement that, under penalty of perjury, the information in the
    notification is accurate and you are authorized to act on behalf of the
    owner of the exclusive right that is allegedly infringed.</li>
  </ul>
  </p>Owners’ Copyright Agent to receive DMCA Takedown Notices is:
  info@freshfoodconnect.org]. For clarity, only DMCA Takedown Notices should go
  to the Copyright Agent; any other feedback, comments, online purchases or
  other communications should be directed to the applicable customer service
  links posted on the Website. You acknowledge that in order for Owners to be
  authorized to takedown any Content, your DMCA Takedown Notice must comply with
  all of the requirements of this Section.</p>

  <h3>7.  Disclaimers</h3>
  <p>Owners’ Website acts solely as a venue to allow farmers to put excess
  produce to good use. Should you have any questions related to the legality of
  or consents necessary to host any Event, you should consult your own legal
  counsel.  As such, you agree that you, as a Host, are solely responsible for
  your Events and agree to indemnify, defend and hold harmless Owners from any
  claims, suits, losses, damages, costs and expenses (including reasonable
  attorneys’ fees) relating to or arising from your Events, including any
  violation of any applicable laws, rules, regulations and local ordinances,
  including without limitation, necessary permits, alcohol licenses, fire codes,
  and health and safety inspections, or other taxes and payments which may be
  applicable to your Events.</p>

  <p class="uppercase">Without limiting the foregoing, the MATERIALS and all
  other features on the Website are provided to you “AS IS” and “AS AVAILABLE”
  without warranty of any kind with respect to the Website and/or MATERIALS,
  either express or implied, including but not limited to, fitness for a
  particular purpose, title, or non-infringement. Should applicable law not
  permit the foregoing exclusion of express or implied warranties, then OWNERS
  hereby grant the minimum express or implied warranty required by such
  applicable law. No advice or information, whether oral or written, obtained by
  you from OWNERS, its employees, agents, suppliers or any other persons shall
  create any warranty, representation or guarantee not expressly stated in this
  section. Additionally, OWNERS do not make any warranties that the Website will
  be uninterrupted, secure or error free or that your use of the Website will
  meet your expectations, or that the Website, Content, or any portion thereof,
  is correct, accurate, or reliable.  OWNERS reserve the right to change any
  part of the Website at anytime without notice. YOU EXPRESSLY RELEASE OWNERS
  FROM ANY CLAIM ARISING FROM FAILURE TO PICK UP PRODUCE.</p>

  <h3>8.  Limitation of Liability</h3> <p class="uppercase">Your use of the
  Website is at your own risk. Neither OWNERS, its affiliates, nor any of their
  respective officers, directors, agents or other representatives will be liable
  for any damages, indirect, incidental, consequential, special, or punitive,
  including, without limitation, loss of data, income, profit or goodwill, loss
  of or damage to property and claims of third parties arising out of your
  access to or use of the Website or arising out of any action taken in response
  to or as a result of any Content or other information available on the
  Website, however caused, whether based on breach of contract, tort (including
  negligence), proprietary rights infringement, product liability or otherwise.
  The foregoing shall apply even if OWNERS were advised of the possibility of
  such damages.  If you become dissatisfied in any way with the Website or its
  Terms of Use or Privacy Policy, your sole and exclusive remedy is to stop your
  use of the Website and its services. You hereby waive any and all claims
  against OWNERS and its affiliates, agents, representatives and licensors
  arising out of your use of the Website.  Because some states do not allow the
  disclaimer of implied warranties or the exclusion or limitation of certain
  types of damages, these provisions may not apply to you. If any portion of
  this limitation on liability is found to be invalid or unenforceable for any
  reason, then the aggregate liability of OWNERS and its affiliates shall not
  exceed one hundred dollars ($100.)  The limitation of liability herein is a
  fundamental element of the basis of the bargain and reflects a fair allocation
  of risk. The Website would not be provided without such limitations and you
  agree that the limitations and exclusions of liability, disclaimers and
  exclusive remedies specified herein will survive even if found to have failed
  in their essential purpose.</p>

  <p>SPECIAL NOTICE FOR NEW JERSEY USERS.  BY USING THIS SITE, YOU: (A) ASSUME
  ALL RISK OF LOSSES OR DAMAGES RESULTING FROM YOUR USE OF OR INABILITY TO USE
  THIS SITE; (B) IRREVOCABLY WAIVE ALL LOSSES OR INDIRECT, SPECIAL,
  CONSEQUENTIAL, PUNITIVE OR INCIDENTAL DAMAGES (INCLUDING, WITHOUT LIMITATION,
  THOSE RESULTING FROM LOST PROFITS, LOST DATA OR BUSINESS INTERRUPTION) THAT
  MAY OCCUR AS A RESULT OF YOUR USE OF THIS SITE; (C) EXPRESSLY AGREE TO RELEASE
  AND DISCHARGE OWNERS, AND ITS AFFILIATES, EMPLOYEES, AGENTS, REPRESENTATIVES,
  SUCCESSORS, OR ASSIGNS FROM ANY AND ALL CLAIMS OR CAUSES OF ACTION RESULTING,
  DIRECTLY OR INDIRECTLY, FROM YOUR USE OF THIS SITE; AND (D) YOU VOLUNTARILY
  WAIVE ANY RIGHT THAT YOU MAY OTHERWISE HAVE TO BRING A LEGAL ACTION AGAINST
  OWNERS FOR LOSSES OR DAMAGES, WHETHER BASED ON WARRANTY, CONTRACT, TORT OR
  OTHER LEGAL THEORY, INCLUDING ANY CLAIM BASED ON ALLEGED NEGLIGENCE ON THE
  PART OF OWNERS AND ITS AGENTS AND EMPLOYEES.  YOU UNDERSTAND AND ACKNOWLEDGE
  THAT YOU HAVE CAREFULLY READ THIS “WAIVER AND RELEASE” AND FULLY UNDERSTAND
  THAT IT IS A RELEASE OF LIABILITY.</p>

  <h3>9.  Choice of Law and Enforcement</h3>
  <p>Your access to the Website as well as the terms and conditions and the
  agreement they create are governed and interpreted by the laws of the State of
  Colorado, other than such laws, rules, regulations and case law that would
  result in the application of the laws of a jurisdiction other than the State
  of Colorado.</p>

  <h3>10.  Termination.</h3>
  <p>Owners may cancel, suspend or block your use of the Website or Service
  without notice for any reason, at our sole discretion, including if there has
  been a violation of these Terms.  Your right to use the Website will end once
  your registration is terminated, and any data you have stored on the Website
  have been deleted, including any profile information or any information
  related to Events which you have hosted, unless Owners are required to retain
  it by law.  You may terminate your registration at any time.  Owners are not
  responsible or liable for any records or information that is made unavailable
  to you as a result of your termination of registration.  YOU AGREE THAT OWNERS
  WILL NOT BE LIABLE TO YOU OR ANY OTHER PARTY FOR ANY TERMINATION OF YOUR
  ACCESS TO THE WEBSITE OR SERVICE.  Any limitations on liability that favor
  Owners will survive the expiration or termination of these Terms for any
  reason.</p>

  <h3>11.  Ability to Accept Terms of Use</h3>
  <p>You affirm that you are more than 18 years of age, or an emancipated minor,
  or possess legal parental or guardian consent, and are fully able and
  competent to enter into the terms, conditions, obligations, affirmations,
  representations, and warranties set forth in these Terms, and to abide by and
  comply with the Terms of Use.</p>

  <h3>12.  Assignment</h3>
  <p>These Terms, and any rights and licenses granted hereunder, may not be
  transferred or assigned by you, but may be assigned by Owners without
  restriction.</p>

  <h3>13.  Notice</h3>
  <p>Your affirmative act of using the Website or registering for Member Account
  constitutes your electronic signature to these Terms and your consent to enter
  into agreements with Owners electronically.  You also agree that Owners may
  send any notices, disclosures, reports, documents, communications or other
  records regarding the Website (collectively, “Notices”) in electronic form to:
  (a) the e-mail address that you provided during registration, or (b) by
  posting the Notice on the Website.  The delivery of any Notice from is
  effective when sent by Owners, regardless of whether you read the Notice when
  you receive it or whether you actually receive the delivery.</p>

  <h3>14.  Miscellaneous</h3>
  <p>Owners’ failure to enforce any provision of these Terms shall not be deemed
  a waiver of such provision nor of the right to enforce such provision.  If any
  part of these Terms is determined to be invalid or unenforceable pursuant to
  applicable law, including, but not limited to, the warranty disclaimers and
  liability limitations set forth above, then the invalid or unenforceable
  provision will be deemed superseded by a valid, enforceable provision that
  most closely matches the intent of the original provision and the remainder of
  these Terms shall continue in effect.  A printed version of these Terms and of
  any notice given in electronic form shall be admissible in judicial or
  administrative proceedings based upon or relating to these Terms to the same
  extent and subject to the same conditions as other business documents and
  records originally generated and maintained in printed form.</p>



  <h2>PRIVACY POLICY</h2>
  <h3>COLLECTION OF INFORMATION</h3>
  <p>When you register and use the Website, Owners will collect the following
  information (“Registration Information”):
  <ol>
    <li>Name</li>
    <li>Email address</li>
    <li>Mailing address</li>
    <li>Username and password</li>
    <li>Login information for any social media accounts you wish to connect to
    your account</li>
  </ol>
  </p>

  <p>In addition, when you use the Website, the following types of information
  may all be logged automatically (“Usage Information”):
  <ol>
    <li>Non-personally identifiable information about your Produce and pick-ups,
    such as types of produce collected</li>
    <li>Browser type</li>
  </ol>
  </p>

  <h3>USE OF INFORMATION</h3>
  <p>Owners may use your Registration Information to help facilitate
  transactions into which you enter.  We may also use your Registration
  Information as necessary to investigate fraud, protect our legal rights,
  protect the safety of our employees and personnel, and otherwise provide the
  service.</p>
  <p>Owners may use Usage Information to facilitate the provision of software
  updates, product support and other services to you (if any), including by
  sending email or text messages to your wireless phone, tablet, other mobile
  device, or other computer device (each a “Device”).  You also grant Owners an
  irrevocable, perpetual, royalty-free right and license to use your Usage
  Information to enhance our products and services and to develop new products
  and services or to document the use of the product.</p>
  <p>You also agree that Owners may share any information you provide, including
  your Registration Information and Usage Information, with affiliates and
  related companies of Owners and to third parties providing services on behalf
  of Owners and to transfer such information in the event of a sale, merger,
  dissolution, bankruptcy, corporate reformation or other corporate
  restructuring of Owners, or in the event that Owners sells, assigns, or
  transfers substantially all of its rights in the Website.</p>

  <h3>DISCLOSURE OF INFORMATION</h3>
  <p>Owners may disclose some of your Registration Information, such as your
  contact information, in order to complete a transaction initiated by you. We
  will generally not disclose your name or physical address but will use it to
  provide your delivery.</p>

  <p>Owners do not disclose any of your information with third parties other
  than as follows: (i) to the extent necessary to comply with applicable law and
  our legal obligations, such as to comply with a subpoena or similar legal
  process; (ii) when Owners believe in good faith that disclosure is necessary
  to protect its rights, your safety or the safety of others; (iii) with third
  party vendors, consultants and other services providers who work for us and
  need access to your information to do that work; (iv) to investigate fraud, or
  respond to a government request; (v) in connection with or during negotiation
  of any merger, financing, acquisition, or dissolution, transaction or
  proceeding involving sale, transfer, divestiture, or disclosure of all or a
  portion of our business or assets to another company.</p>

  <p>Owners may also share aggregated or deidentified information.</p>

  <h3>SECURITY</h3>
  <p>Owners take commercially reasonable steps to help protect your information
  against loss, misuse and unauthorized access, or disclosure. HOWEVER, OWNERS
  EXPRESSLY DISCLAIM ANY REPRESENTATION OR WARRANTY, WHETHER EXPRESS OR IMPLIED,
  WITH RESPECT TO ENSURING, GUARANTEEING OR OTHERWISE OFFERING ANY DEFINITIVE
  PROMISE OF SECURITY IN CONNECTION WITH YOUR INFORMATION.</p>

  <h3>YOUR CONSENT</h3>
  <p>By using the Website, you are consenting to the use and processing of your
  information as set forth in this Privacy Policy, all of which activities will
  take place in the United States.  If you reside outside the U.S. your
  information will be transferred to the U.S., and processed and stored there
  under U.S. privacy standards.</p>

  <h3>CONTACT OWNERS</h3>
  <p>If you have any questions regarding privacy while using the Website, or
  have questions about Owners’ practices, please contact Owners via email at
  info@freshfoodconnect.org.</p>

