<div class="content-wrapper-narrow content-container">
  <section class="user-type-section">
    <h2 class="section-label">Admins</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Admin Name</td>
          <td class="table-actions"><a href="" class="table-link table-delete">Delete</a></td>
        </tr>
        <tr>
          <td>Admin Name</td>
          <td class="table-actions"><a href="" class="table-link table-delete">Delete</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><a href="" class="table-link">+ Add Admin</a></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </section>

  <section class="user-type-section">
    <h2 class="section-label">Suppliers</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Supplier Name</td>
          <td class="table-actions">
            <a href="" class="table-link">Profile</a>
            <a href="" class="table-link">Pickup History</a>
            <a href="" class="table-link table-delete">Delete</a>
          </td>
        </tr>
        <tr>
          <td>Supplier Name</td>
          <td class="table-actions">
            <a href="" class="table-link">Profile</a>
            <a href="" class="table-link">Pickup History</a>
            <a href="" class="table-link table-delete">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
