<%= render "application/admin_header" %>

<div class="content-wrapper-narrow content-container">
  <section class="user-type-section">
    <label for="">Admins</label>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Admin #1</td>
          <td class="table-action"><a href="" class="table-delete">Delete</a></td>
        </tr>
        <tr>
          <td>Admin #2</td>
          <td class="table-action"><a href="" class="table-delete">Delete</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><a href="">+ Add Admin</a></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </section>

  <section class="user-type-section">
    <label for="">Suppliers</label>
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="">Supplier #1</a></td>
        </tr>
        <tr>
          <td><a href="">Supplier #2</a></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="user-type-section">
    <label for="">Cyclists</label>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cyclist #1</td>
          <td class="table-action"><a href="" class="table-delete">Delete</a></td>
        </tr>
        <tr>
          <td>Cyclist #2</td>
          <td class="table-action"><a href="" class="table-delete">Delete</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><a href="">+ Add Cyclist</a></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </section>

</div>
