<%= render "application/admin_header" %>

<div class="content-wrapper-narrow content-container">
  <header class="zipcode-header">
    <h2>80202</h2>
    <span class="zipcode-activation-status">Active</span>
  </header>
  <section class="zipcode-content-section">
    <label for="">Scheduled Pickup Time</label>
    <span>Thusdays from 9:00am to 12:00am</span>
    <a href="" class="edit-link">Edit</a>
  </section>
  <section class="zipcode-content-section">
    <label for="">Suppliers</label>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Weekly Donation Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="">Supplier #1</a></td>
          <td>Donating</td>
        </tr>
        <tr>
          <td><a href="">Supplier #2</a></td>
          <td>Not Donating</td>
        </tr>
      </tbody>
    </table>
    <div class="supplier-map">
      <label for="">Map</label>
      <div class="map-placeholder"></div>
    </div>
  </section>
</div>
