<%= render "application/admin_header" %>

<div class="content-wrapper-narrow">
  <section class="zipcode-group">
    <label for="">Active Zipcodes</label>
    <% 2.times do %>
      <a class="zipcode-tile">
        <h3 class="zipcode-tile__zipcode">80202</h2>
        <span class="zipcode-tile__supplier-count">10 suppliers</span>
      </a>
    <% end %>
  </section>

  <section class="zipcode-group">
    <label for="">Inactive Zipcodes</label>
    <% 2.times do %>
      <a class="zipcode-tile">
        <h3 class="zipcode-tile__zipcode">80202</h2>
        <span class="zipcode-tile__supplier-count">10 suppliers</span>
      </a>
    <% end %>
  </section>
</div>

