<section class="no-service-message">
  <div class="content-wrapper-narrow form-container">
    <header class="form-container__header">
      <h3>We're sorry, our service is not available in your area at this time.</h3>
    </header>

    <%= render "subscriptions/form", subscription: @subscription %>
  </div>
</section>
