<section>
  <div class="content-wrapper-narrow form-container">
    <header class="form-container__header">
      <h3><%= t(".header") %></h3>
    </header>
    <%= render "zones/form", zone: @zone %>
  </div>
</section>
