body {
  background: $light-gray;
}

.content-container {
  @include clearfix;
  background: $white;
  border: $base-border;
  border-radius: $base-border-radius;
  margin: $base-spacing 0;
  padding: $base-spacing;
}

.nav-wrapper {
  @include outer-container;
  height: 100%;
}

.content-wrapper-narrow {
  @include span-columns(6);
  @include shift(3);
}

.content-wrapper-large {
  @include span-columns(8);
  @include shift(2);
}

.opt-out-link {
  margin: 0 $small-spacing;
}

.next-steps {
  margin: $large-spacing 0;

  li {
    margin: $base-spacing 0;
  }
}

.user-type-section {
  margin-bottom: $large-spacing;

  &:last-child {
    margin-bottom: 0;
  }
}

.table-actions {
  text-align: right;

  .table-delete {
    color: red;

    &:hover {
      color: darken(red, 15%);
    }
  }
}

.table-link {
  margin: 0 $xsmall-spacing;
  text-decoration: underline;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.supplier-name {
  color: $action-color;
}

.pickup-confirmation::before {
  @include size(10px);
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: $xsmall-spacing;
}

.pickup-confirmation.success::before {
  background-color: $action-color;
}

.pickup-confirmation.failure::before {
  background-color: red;
}

.pickup-confirmation.no-donation {
  color: $label-font-color;

  &::before {
    background-color: $label-font-color;
  }
}

.pickup-checklist-date {
  color: $action-color;
}

