.modal {
  $medium-screen: 30em !default;
  $large-screen: 50em !default;

  label {
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
  }

  .modal-fade-screen {
    // overlay
    @include position(fixed, 0 0 0 0);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 99999;

    @include media($large-screen) {
      padding-top: 3em;
    }
  }

  .modal-close {
    cursor: pointer;
    display: block;
    text-align: right;
  }

  .modal-inner {
    background-color: #fff;
    border: $base-border;
    border-radius: $base-border-radius;
    margin: auto;
    max-height: 95%;
    overflow: hidden;
    position: relative;
    top: 0.75em;
    transition: opacity 0.25s ease;
    width: 95%;

    @include media($medium-screen) {
      width: 60%;
    }

    @include media($large-screen) {
      width: 50%;
    }
  }

  .modal-content {
    height: 550px;
    overflow: auto;
    padding: $base-spacing $base-spacing ($xlarge-spacing * 1.5);

    @include media($medium-screen) {
      padding-bottom: $large-spacing;
    }
  }

  .modal-actions {
    @include position(absolute, null 0 0 0);
    background-color: $white;
    box-shadow: 0 -1px 10px rgba($black, 0.15);
    padding: $small-spacing 0;
  }

  #welcome:target + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }
}

.modal-open {
  overflow: hidden;
}

.modal-closed {
  overflow: auto;
}

.modal-actions {
  text-align: center;
}

.modal-confirm {
  margin: 0 auto;
}
