.zipcode-header {
  border-bottom: $base-border;
  padding-bottom: $base-spacing;

  h2 {
    color: $action-color;
    display: inline-block;
    line-height: 1;
    margin: 0;
  }
}

.zipcode-activation-status {
  float: right;
}

.supplier-donation-status {
  float: right;
}

.zipcode-content-section {
  margin: $base-spacing 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.supplier-map {
  margin-top: $base-spacing;
}

.edit-link {
  float: right;
}

.pickup-checklist-link {
  border: 1px solid $blue;
  border-radius: $base-border-radius;
  color: $blue;
  display: inline-block;
  margin: $small-spacing 0;
  padding: $xsmall-spacing $small-spacing;

  &::after {
    content: "→";
    padding-left: $xsmall-spacing / 2;
    transition: all 0.15s ease-in-out;
  }

  &:hover,
  &:active,
  &:focus {
    color: lighten($blue, 15%);

    &::after {
      padding-left: $xsmall-spacing;
    }
  }
}

.map-placeholder {
  @include size(100%, 300px);
  background: $light-gray;
}
