<header class="application-header">
  <div class="nav-wrapper">
    <a href="" class="logo">
      <h1>
        <%= image_tag "logo.png", alt: "Fresh Food Connect", class: "logo-image" %>
      </h1>
    </a>

    <nav class="admin-nav">
      <ul>
        <li>
          <a href="">
            Zipcodes
          </a>
        </li>
          <a href="">
            Users
          </a>
        <li>
      </ul>
    </nav>
  </div>
</header>
