<header class="application-header">
  <div class="nav-wrapper">
    <%= link_to root_path, class: "logo" do %>
      <h1>
        <%= image_tag "logo.png", alt: "Fresh Food Connect", class: "logo-image" %>
      </h1>
    <% end %>

    <nav class="admin-nav">
      <ul>
        <li>
          <%= link_to delivery_zones_path do %>
            <%= t(".zipcodes") %>
          <% end %>
        </li>
        <li>
          <a href="#">
            Users
          </a>
        </li>
        <li>
      </ul>
    </nav>
  </div>
</header>
