<div class="modal">
  <input class="modal-state" id="modal-1" type="checkbox"  />
  <div class="modal-fade-screen">
    <div class="modal-inner content-container">
      <div class="modal-content">
        <h3>
          Thanks for signing up to be a part of the program! Here's what to expect next:
        </h3>
        <ol class="next-steps">
          <li>
            <h4>1. Let us know when you want to donate.</h4>
            <p>Each week, lookout for an email from us prompting you to let us know if you will be donating that week or not. You can also indicate this at any time through your profile.</p>
          </li>
          <li>
            <h4>2. Set your produce out for pickup</h4>
            <p>On pickup day, a Fresh Food Connect cyclist will come by to pick up your donation.</p>
          </li>
          <li>
            <h4>3. Feel good knowing that your extra produce is going to help someone in need!</h4>
          </li>
        </ol>
        <div class="modal-actions">
          <div class="btn modal-confirm">Got It! Take me to my profile.</div>
        </div>
      </div>
    </div>
</div>
