<section>
  <div class="content-wrapper-narrow content-container">
    <h3><%= t(".header") %></h3>

    <%= render("scheduled_pickups/form", scheduled_pickup: @scheduled_pickup) %>
  </div>
</section>
