<section>
  <div class="content-wrapper-narrow form-container">
    <header class="form-container__header">
      <h3><%= t(".header") %></h3>
    </header>

    <div class="form-container__body">
      <%= render("zones/defaults", zone: @scheduled_pickup.zone) %>

      <p><%= t(".prompt") %></p>
    </div>

    <%= render("scheduled_pickups/form", scheduled_pickup: @scheduled_pickup) %>
  </div>
</section>
